@media(min-width: 1024px)and (max-width: 1382px){
    #content{
        margin-top: 180px;
    }
}
@media(min-width: 740px) and (max-width: 1023px){
    #content{
        margin-top: 180px;
    }
    .container_one{
        padding: 0;
    }
    .container_two{
        justify-content: center;
        flex-wrap: wrap;
        margin: 0;
    }
    .container_one>.container_img,
    .container_one>.container_text,
    .container_two>.container_img,
    .container_two>.container_text{
        width: 45%;
        padding:30px 10px;
    }
}

@media(max-width: 739px){
    #content{
        margin-top: 50px;
    }
    .container_one{
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
    .container_two{
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
    }
    .container_one>.container_img,
    .container_one>.container_text,
    .container_two>.container_img,
    .container_two>.container_text{
        width: 100%;
    }
    .container_one>.container_img,
    .container_two>.container_img{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 0 10px 0;
    }
    .container_one>.container_text,
    .container_two>.container_text{
        padding-bottom: 50px;
    }
}
